<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">购物须知</h2>
                    <h3 class="section-subheading text-muted">下单流程</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>挑选资源</h4>
                                    <h4 class="subheading">在本站挑选喜欢的资源</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">每一个资源都有一个管理号，请记住喜欢的资源的管理号码</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>添加好友</h4>
                                    <h4 class="subheading">添加百度网盘好友</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">添加百度网盘好友后，发送资源的管理号码，方便发送资源</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>扫码支付</h4>
                                    <h4 class="subheading">扫码支付</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">每部资源都有价格，扫码以后完成付款</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>接收资源</h4>
                                    <h4 class="subheading">接收保存</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">接收对应管理号码的资源，保存到自己百度网盘，并可以下载观看</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>享受
                                    <br>美好
                                    <br>一刻!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
